<div class="container">
  <button class="btn btn-default" routerLink="/astronaut/new">Add New Astronaut</button>
  <table class="table table-striped table-responsive table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Superpower</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let astronaut of astronauts">
        <td>{{astronaut.firstname}}</td>
        <td>{{astronaut.lastname}}</td>
        <td>{{astronaut.birthdate | date: 'dd.MM.yyyy'}}</td>
        <td>{{astronaut.superpower}}</td>
        <td>
          <button
            class="btn btn-delete"
            mwlConfirmationPopover
            [title]="title"
            [message]="message"
            placement="top"
            (confirm)="delete(astronaut)"
            (cancel)="cancelClicked = true">
            x
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>